/* app/styles/Ekosistem.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0070f3;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.container {
    padding: 2rem;
    text-align: center; /* Menengahkan teks */
    background: url('/images/samudra.jpeg') no-repeat center center/cover;
  }
  
  .ekosistem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .foto {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .deskripsi h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .deskripsi p {
    font-size: 1.2rem;
    text-align: justify;
  }
  
  /* Gaya untuk bagian saran */
  .saranSection {
    margin-top: 2rem;
  }
  
  .saranSection h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .saranForm {
    display: flex;
  }
  
  .saranForm input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .saranForm button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .saranForm button:hover {
    background-color: #0056b3;
  }
  