/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0070f3;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navLink {
  list-style: none;
  display: flex;
}

.navLink li {
  margin-left: 1rem;
}

.navLink li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Ukuran teks yang lebih besar dari default */
  transition: color 0.3s ease;
}

.navLink li a:hover {
  text-decoration: underline;
  color: #f2f2f2; /* Warna yang sedikit lebih terang ketika dihover */
}

/* Navbar.module.css */

.logout {
  cursor: pointer;
  color: #ff0000;
  font-weight: bold;
  transition: color 0.3s;
}

.logout:hover {
  color: #000000;
}
